@import "tailwindcss";


body{
  background-image: url(/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  inset: 0; /* cubre todo */
  background: rgba(0, 0, 0, 0.449); /* opacidad */
  backdrop-filter: blur(4px);    
  z-index: -1; 
}

.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100vh;           /* Ocupa toda la pantalla */
}
